@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.header{
	width: 100%;
	height: auto;
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
}

 .navbar{
	padding-top: 20px !important;
	margin-left: 20px;
	margin-right: 20px;
}

.nav-item{
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 12px;
}
.nav-link{
	color: #d9d9d9 !important;
	font-size: 15px !important;
	padding: 0 0 5px 0 !important;
	display: unset !important;
}
.navbar-brand{
	width: 229px;
}

.fa-bars{
	color: #fff;
	font-size: 40px !important;
}
.navbar-toggler{
	border: 0 !important;
	outline: none !important;
	padding: initial !important;
}
.nav-link:hover{
	border-bottom: 2px solid #fff;
}
.input{
	padding: 8px 40px 8px 30px;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color: #f2f2f2;
	color: #000;
	margin-left: 26px;
}
#btn1{
	border-radius: 20px;
	color: #EF2779;
	background-color: #fff;
	outline: none;
	border: none;
	margin-top: 14px;
	margin-left: 16px;
	width: 125px;
	font-size: 16px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
}
.body{
	display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-left: 0px;
}
.right{
	height: auto;
	width: auto;
	padding-top: 190px;
	padding-right: 80px;
}
.right-r{
	max-height: 90%;
	max-width: 89%;
	margin-left: auto;
}
.img{
   width: auto;
   height: auto;
   margin-top: auto;
   margin-right: auto;
}
.img img{
   max-width: 119%;
   max-height: 87%;
}

#h1{
	font-size: 48px;
	padding-bottom: 15px;
	color: #fff;
	letter-spacing: 2px;
}
#right-p{
	font-size: 16px;
	padding-bottom: 19px;
	color: #fff;
	letter-spacing: 1.5px;
}
#btn2{
	border-radius: 20px;
	color: #00ccff;
	background-color: #fff;
	outline: none;
	border: none;
	margin-top: 14px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	padding: 10px 55px 10px 55px;
	cursor: pointer;
	margin-bottom: 30px;
}
#sk{
	border-radius: 20px;
	color: #00ccff;
	background-color: #fff;
	outline: none;
	border: none;
	margin-top: 14px;
	margin-left: 12px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	padding: 9px 40px 9px 40px;
	cursor: pointer;
}
 
.name{
    background-color: #252B42;
    width: 100%;
    height: auto;
}

#name-h6{
    text-align: center;
    padding-top: 130px;
    color: #fff;
    font-size: 16px;
}
#name-h1{
    text-align: center;
    color: #fff;
    font-size: 35px;
}
#name-p{
    text-align: center;
    padding-top: 5px;
    color: #fff;
    font-size: 13px;
    padding-bottom: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-content: center;
    align-items: center;
    grid-gap:22px;
}
.grid-item {
  padding: 20px;
  height: 220px;
  width: 230px;
  color: #fff;
}
.grid-item img{
    position: absolute;
    margin-top: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#para{
	font-size: 16px;
    margin-left: 40px;
    color: #fff;
}        
#para1{
    color: #d9d9d9;
    font-size: 13.5px;
    font-weight: 400;

}
.bar{
	text-align: center;
}
#para2{
    padding-top: 50px;
    text-align: center;
    color: #fff;
    font-size: 35px;
}
#para3{
    text-align: center;
    color: #fff;
    font-size: 13px;
}
.btn3{
    margin-top: 33px;
    border-radius: 20px;
    color: #fff;
    border: none;
    background: #38A3F1;
    padding: 10px 55px 10px 55px;
    margin-bottom: 90px;
}
.btn3:focus{
    outline: none;
}

.parent{
	height: auto;
	text-align: center;
	width: auto;
}

.img2{
	 max-width: 100%;
	 max-height: 100%;
}
.red{
	margin-top: 20px;
	text-align: center;
}
.red2{
	text-align: center;
}
#third-h6{
    text-align: center;
    padding-top: 150px;
    color: #fff;
    font-size: 16px;
}
#third-h1{
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    font-size: 35px;
}
#third-h5{
    text-align: center;
    padding-top: 26px;
    color: #fff;
    font-size: 15px;
}
#third-p{
	text-align: center;
	font-size: 13px;
	color: #fff;
}
.third input{
	padding: 8px 55px 8px 36px;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color: #fff;
	color: #000;
}
#btn{
	border-radius: 20px;
	color:  #fff;
	background-color: #EF2779;
	outline: none;
	border: none;
	margin-top: 14px;
	width: 270px;
	font-size: 16px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
}
.part{
	padding-top: 150px;
}
#para4{
	font-size: 35px;
	color: #fff;
	text-align: center;
}
#para5{
	color: #fff;
	text-align: center;
	padding-bottom: 56px;
	font-size: 16px;
}
#para6{
	text-align: center;
	color: #fff;
	font-size: 13px;
}
#para7{
	text-align: center;
	color: #fff;
	font-size: 15.5px;
	padding-top: 16px;
}
.grid{
	display: grid;
	grid-template-columns: 225px 225px 250px;
	justify-content: center;
	align-items: center;
}
.content{
	height: 260px;
	width: 250px;
	margin-bottom: 40px;
}
.content img{
	margin-left: 85px;
	width: 84px;
	height: 89.5px;
}
.btn4{
    margin-top: 20px;
    border-radius: 20px;
    color: #fff;
    border: none;
    background: #38A3F1;
    padding: 8px 35px 8px 35px;
}
 

#fourth-h1{
	margin-top: 50px;
    font-size: 35px;
    color: #fff;
    text-align: center;
}
.logo2{
	width: 158px;
	height: 32px;
	margin-top: 40px;
}
#para8{
	margin-top: 55px;
	text-align: center;
	color: #fff;
	font-size: 16px;
}
.red3{
	text-align: center;
	margin-right: 220px;
}
#ff{
	margin-top: 60px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}
.logo3{
	position: absolute;
	margin-top: 41px;
	width: 44px;
	height: 38px;
	border-radius: 50%;
	cursor: pointer;
}
.btn5{
	padding: 9px 50px 9px 50px;
    font-size: 17px;
    color: #fff;
    border-radius: 20px;
    background-color: #38A3F1;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 40px;
}
.btn5:focus{
	outline: none;
}
#five-h1{
	font-size: 35px;
	margin-top: 150px;
	text-align: center;
	color: #fff;
}
#para9{
	padding-top: 20px;
	padding-bottom: 70px;
	text-align: center;
	color: #fff;
	font-size: 16px;
}
.grid2{
	display: grid;
	grid-template-columns: 340px 340px 250px;
	justify-content: center;
	align-items: center;
}
.come{
	justify-content: center;
	align-items: center;
	height: 259px;
	width: 278px;
	margin-bottom: 40px;
	background-color: #fff;
	padding: 33px;
	transition: 0.6s;
	border-radius: 10px;
}
.come:hover{
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
	color: #fff;
	cursor: pointer;
}
.come:hover .btn6 {
    color: #EF2779;
    background-color: #fff;
    transition: 0.6s;
}
#active{
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
	color: #fff;
	cursor: pointer;
}
#active .btn6{
	color: #EF2779;
    background-color: #fff;
    transition: 0.6s;
}
#para11{
	padding-top: 8px;
    font-size: 14px;
	font-weight: bold;
	padding-left: 15px;
}
.free2{
	font-size: 16.5px;
	font-weight: bold;
	padding-right: 100px;
}
#para10{
	font-size: 11px;
	padding-bottom: 9px;
	margin-bottom: 10px;
	padding-top: 0px;
	text-align: left;
	font-weight: bold;
}
#zero{
	font-size: 40px;
	padding-left: 10px;
	padding-top: 6px;
}
 .grid3{
 	display: grid;
 	grid-template-columns: 44px 90px 40px;
 }
.grid4{
 	display: grid;
 	grid-template-columns: 19px 90px 40px;
 }
.grid5{
    display: grid;
 	grid-template-columns: 44px 90px 40px;
 }
.btn6{
	padding: 10px 62px 10px 62px;
    font-size: 17px;
    color: #fff;
    border-radius: 20px;
    background-color: #3480eb;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 18px;
}
.btn6:focus{
	outline: none;
}

.light{
	height: auto;
	background-color: #D6EBFF;
	width: 100%;
}
#light-h1{
    font-size: 35px;
    padding-top: 90px;
    text-align: center;
}
#para12{
	font-size: 16px;
	text-align: center;
	padding-bottom: 50px;
}
.grid6{
	display: grid;
	grid-template-columns: 440px 440px 0px;
	justify-content: center;
	align-items: center;
	margin-left: 200px;
}
.two{
	justify-content: center;
	align-items: center;
	height: 430px;
	width: 380px;
	margin-bottom: 50px;
}
#tom{
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
}
#para13{
	text-align: center;
	font-size: 19px;
	padding-bottom: 4px;
}
#name{
	padding: 7px 129px 7px 13px;
	border: none;
	border-radius: 20px;
	background-color: #f2f2f2;
	color: #000;
	margin-bottom: 35px;
}
#name:focus{
	outline: none;
}
#msg{
	padding: 10px 129px 80px 10px;
	background-color: #f2f2f2;
	color: #000;
	border: none;
	border-radius: 10px;
}
#msg:focus{
	outline: none;
}
.btn7{
    padding: 7px 32px 7px 32px;
    font-size: 16px;
    background-color: #e60073;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 20px;
}
.btn7:focus{
	outline: none;
}
#tom2{
    padding-top: 100px;	
}
#para14{
	font-size: 15px;
	font-weight: bold;
	padding-left: 30px;
}
#para15{
	font-size: 15px;
	font-weight: bold;
	padding-left: 30px;
	padding-top: 15px;
}
#para16{
	font-size: 15px;
	font-weight: bold;
	padding-top: 14px;
	padding-left: 40px;
}
.icon{
	font-size: 38px;
	color: #e60073;
	padding-top: 20px;
}
.icon .fa{
	padding-left: 25px;
}
#loc{
	position: absolute;
	font-size: 29px;
	color: #e60073;
	padding-top: 8px
}

.last{
	background-color: #252B42;
	height: auto;
	width: 100%; 
}
.grid7{
	padding-top: 85px;
	display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
#para17{
	color: #fff;
	padding-left: 40px;
	font-size: 16px;
	padding-top: 10px;
}
#para18{
	color: #fff;
	padding-left: 40px;
	font-size: 16px;
	padding-top: 10px;
}
.content2{
	height: 290px;
	width: 200px;
	margin-left: auto;
}
.content3 img{
    height: 260px;
    width: 500px;
    margin-bottom: 90px;
}
#para19{
	color: #fff;
	padding-left: 52px;
	font-size: 16px;
	padding-top: 10px;
}

#last-h5{
	color: #fff;
	font-size: 24px;
	padding-bottom: 20px;
	text-align: center;
}
#end{
	width: 320px;
	text-align: left;
}
#lock{
	position: absolute;
	font-size: 29px;
	color: #e60073;
	margin-top: 10px;
	margin-left: 15px;
}
.icon2{
	font-size: 38px;
	color: #e60073;
	padding-top: 20px;
}
.icon2 .fa{
	padding-right: 20px;
	padding-left: 10px;
}
#bc{
	text-align: center;
	color: #fff;
	font-size: 16px;
	padding-top: 8px;
}













@media only screen and (max-width: 720px){
	.header{
	height: auto;
}
.navbar-brand{
	width: 147px;
}
.input{
	float: right;
}
#btn1{
	float: right;
}
.body{
	margin-top: 20px;
	display: inline-block;
    grid-gap: 0px;
}
.right{
	height: auto;
	width: auto;
}
.img{
	height: 400px;
	width: 450px;
	padding-left: 39px;
	margin-bottom: 120px;
}
.img img{
	margin-top: 290px;
	margin-left: 30px;
	padding-bottom: 5px;
}
#h1{
	display: none;
}
#right-p{
	font-size: 15px;
	letter-spacing: 0px;
	position: absolute;
	text-align: center;
	bottom: 44%;
	left: 25%;
}
#btn2{
	position: absolute;
	top: 103%; 
	left: 30%;
}
#para2{
    position: absolute;
    bottom: 63%;
    left: 29%;
}
.name{
    height: auto;
}
#name-h6{
    padding-top: 100px;
}
.container{
    display: inline-block;
    margin-top: 34px;
    grid-template-columns: 0px 0px 0px;
}
.free1{
    margin-left: 155px;
}
#para{
    margin-left: 40px;
}        
#para3{
    font-size: 15px;
}
.img2{
	width: 430px;
	margin-left: 26px;
}
.grid{
	display: inline-block;
	grid-template-columns: 0px 0px 0px;
	margin-left: 110px;
}
#third-h1{
    font-size: 30px;
}
#third-h5{
    font-size: 17px;
}
.third input{
	margin-top: 40px;
}
#para6{
	text-align: center;
	color: #fff;
	font-size: 13px;
}
#para7{
	text-align: center;
	color: #fff;
	font-size: 15.5px;
	padding-top: 16px;
}
.grid-container{
	display: block;
	grid-template-columns: 0px 0px 0px;
	margin-left: 134px;
}
.btn4{
    padding: 9px 52px 9px 52px;
}
#none{
	display: none;
}

#fourth-h1{
	margin-top: 90px;
}
#para8{
	margin: 55px;
}
.logo3{
	margin-top: 7px;
}
.btn5{
	padding: 9px 67px 9px 67px;
}
#five h1{
	margin-top: 0px;
}
.grid2{
	display: inline-block;
}
.come{
	margin-left: 100px;
	margin-top: 40px;
}

.light{
	height: auto;
}
.grid6{
	display: inline-block;
	margin-left: 47px;
}
.two{
	width: 400px;
}
#tom{
	margin-top: 0px;
}
#tom2{
    padding-top: 100px;	
    padding-left: 65px;
}

.last{
	height: auto;
}
.grid7{
	display: inline-block;
	grid-template-columns: 0px 0px 0px;
}
.content2{
	margin-left: 140px;
	height: auto;
	width: 200px;
}
.content3 img{
	width: 430px;
	height: 190px;
	margin-left: 26px;
	margin-top: 45px;
}
#end{
	width: 370px;
	margin-left: 0px;
	margin-top: 40px;
	padding-left: 0px;
}
#para17{
	padding-left: 66px;
}
#para18{
	padding-left: 64px;
}
#para19{
	padding-left: 79px;
}
#lock{
	position: absolute;
	margin-left: 39px;
	margin-top: 10px
}
.icon2{
    padding-top: 40px;
	margin-left: 13px;
}
.icon2 .fa{
	padding-left: 35px;
	margin-bottom: 68px;
}






}